<div id="quickbar">
  <div class="wrapper">
    <div id="quickbar_left">
      <a href="/" id="quickbar_logo"><%= image_tag 'h20-logo.png' %></a>
      <span id="quickbar_title">
        <%= @collage.name %>
      </span>
      <% if @collage.annotatable.is_a?(Case) %>
      <% if @collage.annotatable.case_citations.any? -%>
      <span class="quickbar_extra">
      | <%= @collage.annotatable.case_citations.first.display_name %>
      </span>
      <% end -%>
      <% if @collage.annotatable.decision_date.present? -%>
      <span class="quickbar_extra">
      | <%= @collage.annotatable.decision_date.strftime("%B %d, %Y") %>
      </span>
      <% end -%>
      <% end -%>
      <span id="quickbar_author">
      <span>|</span> <%= link_to(@collage.user.display, user_path(@collage.user)) %>
      </span>
      <% if @collage.annotatable.is_a?(TextBlock) %>
      <span class="quickbar_extra">
      | <%= @collage.annotatable.created_at.strftime("%B %d, %Y") %>
      </span>
      <% end -%>
    </div>
    <div id="quickbar_right">
      <a href="#" id="quickbar_tools">SHOW/HIDE</a>
      <a href="#" class="icon icon-black-print" id="quickbar_print" title="Print <%= @collage.name %>"><span>Print</span></a>
      <%= link_to raw('<span class="icon icon-black-favorite"><span>Bookmark Collage</span></span>'), '#', :class => "bookmark-action requires_logged_in", :title => "Bookmark #{@collage.name}", "data-type" => "collage", "data-itemid" => @collage.id %>
      <a href="#" class="icon icon-black-font" id="quickbar_font" title="Change the size of the text"><span>Font Settings</span></a>
      <a href="<%= copy_collage_path(@collage) %>" class="remix-action requires_logged_in icon icon-black-remix" id="quickbar_copy-collage" title="Remix <%= @collage.name %>" data-type="collage" data-title="<%= @collage.name %>"><span>Remix</span></a>
    </div>
    <div class="clear"></div>
  </div>
</div>
