<div id="collage<%= @collage.id %>" class="collage-content singleitem" data-id="<%= @collage.id %>">
  <h1 id="singlecollage" class="scale1-5"><%= @collage.name %></h1>
  <div class="details">
    <p class="info scale0-8"><%= @collage.updated_at.strftime("%B %d, %Y") %> by <%= link_to(@collage.user.display, user_path(@collage.user)) %></p>
    <p class="item_description scale0-8"><%= Collage.format_content(@collage.description) %></p>
  </div>
  <div class="fontdetails"></div>
	<div class="article">
	<% cache(["editable-content", @collage.annotatable], :expires_in => 2.weeks, :compress => H2O_CACHE_COMPRESSION) do %>
	<%= raw @collage.editable_content_v2 %>
	<% end -%>
	</div>
</div>

<script type="text/javascript">
var collage_data_<%= @collage.id %> = <%= raw params[:state] || @collage.readable_state || {} %>;
var annotations_<%= @collage.id %> = <%= raw @collage.annotations.inject({}) { |h, a| h["a#{a.id}"] =  a.to_json(:include => :layers); h }.to_json %>;
var layer_data_<%= @collage.id %> = <%= raw @collage.layer_data.to_json %>;
</script>
