<p id="quick_collage_instruction">Create a collage by selecting one of the cases or texts below, or remix from an existing collage.</p>
<section id="results" class="multiitems">
  <div class="left">
    <input id="quick_collage_keyword" value="" />
    <a href="#" id="quick_collage_search" class="button">SEARCH</a>
  </div>
  <aside class="sort">
    <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:all] } %> 
  </aside>
  <div class="search_details">
    <% if params[:keywords] -%>
    <h1>
    Search Results: <b><%= params[:keywords] %></b>
    </h1>
    <% end -%>
    <span id="result_count"><%= pluralize @collection.total, "Result" %></span>
    <aside class="pagination" id="collage_pagination">
    <%= will_paginate @collection.hits, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :ajax => 1 } %>
    </aside>
  </div>
  <ul id="results_set">
    <% @collection.each_hit_with_result do |hit, result| -%>
		<%= render :partial => "shared/objects/#{result.class == Case ? 'case_obj' : result.class.to_s.downcase}",
               :locals => { :hit => hit, (result.class == Case ? :case_obj : result.class.to_s.downcase.to_sym) => result } %>
    <% end %>
  </ul>
</section>
