<section id="results" class="multiitems">
  <aside class="sort">
    <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:all] } %> 
  </aside>
  <div class="search_details">
    <% if params[:keywords] -%>
    <h1>
    Search Results: <b><%= params[:keywords] %></b>
    </h1>
    <% end -%>
    <%= pluralize @collection.total, "Result" %>
    <aside class="pagination standard_pagination">
    <%= will_paginate @collection.hits, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
    </aside>
  </div>
  <ul id="results_set">
    <% @collection.each_hit_with_result do |hit, result| -%>
		<%= render :partial => "shared/objects/#{result.class == Case ? 'case_obj' : result.class.to_s.downcase}",
               :locals => { :hit => hit, (result.class == Case ? :case_obj : result.class.to_s.downcase.to_sym) => result } %>
    <% end %>
  </ul>
  <div class="search_details bottom">
    <aside class="pagination standard_pagination">
    <%= will_paginate @collection.hits, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
    </aside>
  </div>
</section>
