<div style="width: 380px; float: left;">
  <div id="error_block" style="display:none;" class="error"></div>
  <h3 id="generic_title"><%= (@collage.new_record?) ? 'Add a New Collage' : "Edit \"#{@collage.display_name}\"" %></h3>
  <%= render :partial => "shared/user_verified" %>
  <%= semantic_form_for(@collage, :html => {:id => 'collage-form'}) do |form| %>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :public, :input_html => {:class => 'privacy_toggle'} %>
      <%= form.input :description,
        :as => :text,
        :input_html => {:size => '40x5', :class => 'textile_description'},
        :required => false,
        :hint => raw("You can use html and textile markdown in the description. #{link_to('docs', 'http://redcloth.org/textile', :target => '_blank')}<br/>Allowed tags: #{ WHITELISTED_TAGS.sort.join(' ') }")
      %>
    	<%= form.input :tag_list,
        :as => :string,
        :hint => 'Please define the tags for this collage in a comma-separated list.',
        :label => 'Tags',
        :input_html => { :class => 'tagging-autofill-tags' },
        :required => false
	    %>
      <%= render :partial => 'shared/forms/visibility_selectors', :locals => { :form => form } %>
      <%= render :partial => 'shared/captcha', :locals => { :single_resource => @collage } %>
      <% if @collage.new_record? -%>
        <%= form.input :annotatable_type,
          :as => :hidden,
          :required => true,
          :label => 'I want to annotate a:'
        %>
        <%= form.input :annotatable_id,
          :as => :hidden,
          :required => true
        %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="clear"></div>
