  <div class="standard-form">
    <div id="media-error" style="display:none;" class="error"></div>
    <h1 id="generic_title"><%= @media.new_record? ? 'Add a new media' : "Edit \"#{@media.name}\"" %></h1>
    <% if @media.errors.any? -%>
    <div id="text_block-error" class="error">
    <ul>
      <% @media.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end -%>
    <%= render :partial => "shared/user_verified" %>
    <%= semantic_form_for(@media, :url => (@media.new_record? ? medias_path : media_path(@media)), :html => {:id => 'media-form'}) do |form| %>
      <%= form.inputs do %>
        <%= form.input :name %>
        <%= form.input :public, :input_html => {:class => 'privacy_toggle'} %>
        <%= form.input :description, :as => :text, :required => false, :input_html => { :rows => 3 } %>
        <%= form.input :media_type, :as => :radio %>
        <li id="media_detail">
          <label for="media_content">Content <abbr title="required">*</abbr></label>
          <p style="clear:both;display:block;">You can add media items by pasting the URL or HTML embed code in the box below.</p>
        </li>
        <%= form.input :content,
            :label => '',
            :input_html => { :rows => 3 } %>
        <%= form.input :tag_list,
          :as => :string,
          :hint => 'Please define the tags for this media in a comma-separated list.',
          :label => 'Tags',
          :input_html => {:class => 'tagging-autofill-tags'},
          :required => false
        %>
        <%= render :partial => 'shared/forms/visibility_selectors', :locals => { :form => form } %>
        <%= render :partial => 'shared/captcha', :locals => { :single_resource => @media } %>
      <% end %>

      <%= form.actions do %>
        <%= form.action :submit, :as => 'button', :label => "Save" %>
      <% end %>
    <% end %>
  </div>
