<div id="error_block" class="error ui-corner-all" style="display: none;"></div>
<h3 id="generic_title"><%= @playlist.new_record? ? 'Add a new Playlist' : "Edit \"#{@playlist.name}\"" %></h3>
<%= render :partial => "shared/user_verified" %>
<%= semantic_form_for @playlist do |form| %>
  <%= form.inputs do %>
    <% if @can_edit_all -%>
    <%= form.input :name, :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
    <%= form.input :public, :input_html => {:class => 'privacy_toggle'} %>
    <% end -%>
    <% if @can_edit_desc %>
    <%= form.input :description,
      :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
      :required => false,
      :hint => raw("You can use html and textile markdown in the description. #{link_to('docs', 'http://redcloth.org/textile', :target => '_blank')}<br/>Allowed tags: #{ WHITELISTED_TAGS.sort.join(' ') }"),
      :html_safe => true
    %>
    <% end -%>
    <% if @can_edit_all -%>
    <%= form.input :counter_start,
      :label => "Counter Start Value",
      :as => :select,
      :collection => [0, 1, 2],
      :selected => @playlist.counter_start || 1,
      :hint => "This is the starting value of the playlist label numbering.",
      :include_blank => false %>
  	<%= form.input :tag_list,
	    :as => :string,
	    :hint => 'Please define the tags for this playlist in a comma-separated list.',
	    :label => 'Tags',
      :required => false,
	    :input_html => { :class => 'tagging-autofill-tags' }
	  %>
    <% end -%>
    <%= render :partial => 'shared/forms/visibility_selectors', :locals => { :form => form } %>
    <%= render :partial => 'shared/captcha', :locals => { :single_resource => @playlist } %>
  <% end -%>
<% end -%>
