<div class="standard-form" id="text-block-form">
  <h1><%= (@text_block.new_record?) ? 'Add New Text' : %Q|Edit "#{@text_block}"| %></h1>
  <% if @text_block.errors.any? -%>
  <div id="text_block-error" class="error">
  <ul>
    <% @text_block.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end -%>
  <%= render :partial => "shared/user_verified" %>
  <%= semantic_form_for(@text_block, :html => {:id => 'text_block-form'}) do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :public, :input_html => {:class => 'privacy_toggle'} %>
    <% if @text_block.new_record? || @text_block.content_editable? %>
      <div class="mce_switches">
        <a href="#" id="text_block_description-html" class="html">HTML</a>
        <a href="#" id="text_block_description-tmce" class="current">Visual</a>
      </div>
      <%= form.input(:description, :label => 'Textual Content', :as => :text, :hint => raw(%Q|This is where you post the HTML that comprises the content of the text. It should not be wrapped in (or include) &lt;body&gt;, &lt;html&gt;, &lt;head&gt; or other high-level structural tags. Click #{image_tag('preview.png')} in the toolbar to preview.|) )
      %>
      <%= form.input :mime_type, :input_html => { :value => "text/html" }, :as => :hidden %>
    <% end %>
    <%= form.input :tag_list,
      :as => :string,
      :hint => 'Please define the tags for this text in a comma-separated list.',
      :label => 'Tags',
      :input_html => {:class => 'tagging-autofill-tags'},
      :required => false
    %>
    <%= render :partial => 'shared/forms/metadatum', :locals => {:form => form } %>
    <%= render :partial => 'shared/forms/visibility_selectors', :locals => { :form => form } %>
    <%= render :partial => 'shared/captcha', :locals => { :single_resource => @text_block } %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, :as => 'button', :label => 'Save' %>
  <% end %>
<% end %>
</div>
