<div>
  <div id="error_block" style="display:none;" class="error"></div>
  <h3 id="generic_title"><%= (@user_collection.new_record?) ? 'Create a User Collection' : "Edit \"#{@user_collection.name}\"" %></h3>
  <%= semantic_form_for(@user_collection, :html => {:id => 'user_collection-form'}) do |form| %>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :description, :as => :text, :required => false %>
    <% end %>
    <% unless request.xhr? %>
      <%= form.actions do -%>
        <%= form.action :submit, :as => 'button', :label => "SAVE" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="clear"></div>
