<div id="quickbar">
  <div class="wrapper">
    <div id="quickbar_left">
      <a href="/" id="quickbar_logo"><%= image_tag 'h20-logo.png' %></a>
      <span id="quickbar_title">
        <%= @text_block.name %>
      </span>
      <span id="quickbar_author">
      <span>| </span><%= raw link_to(@text_block.user.display, user_path(@text_block.user)) %>
      </span>
      <span class="quickbar_extra">
      | <%= @text_block.created_at.strftime("%B %d, %Y") %>
      </span>
    </div>
    <div id="quickbar_right">
      <a href="<%= export_text_block_path(@text_block) %>" class="icon icon-black-print" id="quickbar_print" title="Print <%= @text_block.name %>"><span>Print</span></a>
      <%= link_to raw('<span class="icon icon-black-favorite"><span>Bookmark Text</span></span>'), '#', :class => "bookmark-action requires_logged_in", :title => "Bookmark #{@text_block.name}", "data-type" => "text_block", "data-itemid" => @text_block.id %>
      <a href="#" class="icon icon-black-font" id="quickbar_font" title="Change the size of the text"><span>Font Settings</span></a>
      <%= link_to raw('<span class="icon icon-tocollage-black"><span>Collage This</span></span>'), new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => @text_block), :class => 'collage-this new-action tooltip', :title => "Collage This" %>
    </div>
    <div class="clear"></div>
  </div>
</div>
