<div id="fixed_links">
<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Case Info">Collapse/Expand</a>
<a href="<%= export_case_path(@case) %>" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= @case.name %>">Print</a>
<a href="#" class="fixed_link left-tooltip btn-a dont_hide" id="fixed_font" title="Change the size of the text">Font Settings</a>
</div>

<aside id="singleitem_barcode_toolbar">
  <%= link_to raw('<span class="icon icon-tocollage-large"><span>Collage This</span></span>'), new_collage_path(:annotatable_type => 'Case', :annotatable_id => @case), :class => 'collage-this new-action tooltip requires_logged_in', :title => "Collage This" %>
  <%= link_to raw('<span class="icon icon-add-large"><span>Add to Playlist</span></span>'), '#', "data-item_id" => @case.id, "data-type" => "case", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-favorite-large"><span>Bookmark Case</span></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@case.name}", "data-type" => "case", "data-itemid" => @case.id %>
</aside>

<div id="case" class="singleitem" data-itemid="<%= @case.id %>">
  <div id="main_details">
    <h1 class="scale1-5"><%= @case.display_name %></h1>
  </div>
  <div id="description" class="scale1-1">
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT CASE INFORMATION<span class="icon icon-arrow"></span>'), edit_case_path(@case), :class => "edit-external scale0-8 requires_edit" %>
    <%= link_to raw('<span class="icon icon-delete"></span>DELETE CASE<span class="icon icon-arrow"></span>'), @case, "data-type" => "case", "data-id" => @case.id, :class => "delete-action requires_edit scale0-8" %>
  </div>
  <article>
    <%= raw @case.content %>
  </article>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close">Close</a>
  <h3 class="info">Case Information<span class="icon icon-panel"></span></h3>
  <div class="stats_panel">
  <%= render :partial => "meta" %>
  </div>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @case.user } %>
</div>

<div class="clear"></div>

<script type="text/javascript">
var editability_path = "<%= access_level_case_path(@case) %>";
</script>
