<div class="standard-form">
	<h1>Participate Anonymous</h1>
	<%= form_for @user, :url => anonymous_user_path, :html => { :class => "formtastic" } do |f| %>
    <% if @user.errors.any? %>
    <ul class="error">
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <p>Please complete the following captcha to participate anonymously:</p>
    <%= render :partial => 'shared/captcha', :locals => { :single_resource => @user } %>
    <div style="text-align:center;width:100%;">
	  <%= f.submit "Submit", :class => 'button' %>
    </div>
	<% end %>
</div>
