<div id="results">
  <div id="bookshelf_panel" class="panel">
    <div class="header">
      <h3><%= @user == current_user ? "My" : "#{@user.simple_display}'s" %> Workshop</h3>
      <span class="icon icon-bookshelf"></span>
      <table id="user_search" cellpadding="0" cellspacing="0">
        <tr>
          <td id="user_search_input">
            <input id="user_keywords" name="keywords" size="50" type="text">
          </td>
          <td id="user_search_filter">
				    <select id="search_all">
					    <option value="all_materials">all</option>
              <% {"playlists" => "Playlists", "collages" => "Collages", "cases" => "Cases", "text_blocks" => "Texts", "medias" => "Media Items", "defaults" => "Links" }.each do |k, v| -%>
					    <option value="<%= k %>" <%= raw 'selected="selected"' if params[:controller] == k %>><%= v %></option>
					    <% end -%>
				    </select>
          </td>
          <td id="user_search_button">
            <button id="search_user_content" class="button">SEARCH</button>
          </td>
          <td id="user_sort" align="right">
            <aside class="sort">
              <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[:all] } %>
            </aside>
          </td>
        </tr>
      </table>
      <% if @bookshelf.results.total_entries > 10 -%>
      <aside class="pagination standard_pagination">
        <%= will_paginate @bookshelf.hits, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
      </aside>
      <% end -%>
      <div class="clear"></div>
    </div>
    <ul id="results_set">
      <% @bookshelf.each_hit_with_result do |hit, result| -%>
      <%= render :partial => "shared/objects/#{result.class == Case ? 'case_obj' : result.class.to_s.downcase}",
                 :locals => { :hit => hit, (result.class == Case ? :case_obj : result.class.to_s.downcase.to_sym) => result } %>
      <% end -%>
    </ul>
  </div>
  <div id="profile_panel" class="panel">
    <div class="header">
      <h3>Profile</h3>
      <span class="icon icon-profile"></span>
      <% if @user == current_user -%>
      <%= link_to 'Edit', edit_user_path(@user), :class => "icon icon-edit-large" %>
      <% end -%>
    </div>
    <%= render :partial => "shared/author_stats", :locals => { :user => @user } %>
  </div>
  <% if @user == current_user -%>
  <div id="settings_panel" class="panel">
    <div class="header">
      <h3>Settings</h3>
      <span class="icon icon-settings"></span>
      <%= link_to 'Edit', edit_user_path(@user), :class => "icon icon-edit-large" %>
    </div>
    <div class="stats_panel">
      <%= render :partial => "shared/user_verified" %>
      <p>
        <label>Default font size:</label>
        <span><%= @user.default_font_size %></span>
      </p>
      <p>
        <label>Timezone:</label>
        <span><%= @user.tz_name %></span>
      </p>
      <p>
        <label>Username:</label>
        <span><%= @user.login %></span>
      </p>
      <p>
        <label>Email Address:</label>
        <span><%= @user.email_address %></span>
      </p>
      <p>
        <label>Password:</label>
        <span>********</span>
      </p>
    </div>
  </div>
  <% if false -%>
	<div id="collections_panel" class="panel">
	  <div class="header">
	    <h3>User Collections</h3>
	  </div>
	  <ul id="user_collections">
	    <li class="listitem">
	      <div class="controls">
	        <ul>
	          <li class="link-add">
	            <a href="<%= new_user_collection_path %>" class="new-action">Add</a>
	          </li>
	        </ul>
	      </div>
	      <div class="details">
	        <h4><a href="<%= new_user_collection_path %>" class="new-action">Create a New User Collection</a></h4>
	      </div>
	      <div class="clear"></div>
	    </li>
	    <%= render :partial => "shared/objects/user_collection", :collection => @user.collections %>
	  </ul>
	</div>
  <% end -%>
  <% end -%>

  <div class="clear"></div>

	<% if @user == current_user && @user.bookmarks.any? -%>
	<div id="bookmarks_panel" class="panel special_panel">
	  <div class="header">
	    <h3>Bookmarks</h3>
      <aside class="pagination users_pagination" id="pagination_bookmarks" data-region="bookmarks">
        <%= will_paginate @paginated_bookmarks, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :ajax_region => "bookmarks" } %>
      </aside>
	  </div>
		<ul id="results_bookmarks" class="playlists">
			<% @paginated_bookmarks.each do |bookmark| -%>
      <% item = bookmark.actual_object %>
      <% if item.present? -%>
      <%= render :partial => "shared/objects/#{item.class == Case ? 'case_obj' : item.class.to_s.downcase}",
                 :locals => { :hit => item, (item.class == Case ? :case_obj : item.class.to_s.downcase.to_sym) => item } %>
			<% end -%>
			<% end -%>
		</ul>
	</div>
	<% end -%>


	<% @types.each do |type, v| -%>
  <% if v[:display] && v[:results].any? -%>
	<div class="panel special_panel">
	  <div class="header">
	    <h3><%= v[:header] %></h3>
      <aside class="special_sort" data-region="<%= type %>">
        <%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[type] } %>
      </aside>
      <% if v[:results].total_entries > 10 -%>
      <aside class="pagination users_pagination" id="pagination_<%= type.to_s %>" data-region="<%= type %>">
        <%= will_paginate v[:results], :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :ajax_region => "#{type.to_s}" } %>
      </aside>
      <% end -%>
      <div class="clear"></div>
	  </div>
		<ul id="results_<%= type.to_s %>">
			<% v[:results].each do |item| -%>
      <%= render :partial => "shared/objects/#{v[:partial]}",
                 :locals => { :hit => item, v[:partial].to_sym => item } %>
			<% end -%>
		</ul>
	</div>
	<% end -%>
	<% end -%>
</div>
