<% if user.present? -%>
<div class="stats_panel">
  <p>
    <label>Name:</label>
    <span><%= user.display %></span>
  </p>
  <% if user.title.present? -%>
  <p>
    <label>Title:</label>
    <span><%= user.title %></span>
  </p>
  <% end -%>
  <% if user.affiliation.present? -%>
  <p>
    <label>Affiliation:</label>
    <span><%= user.affiliation %></span>
  </p>
  <% end -%>
  <% if user.url.present? -%>
  <p>
    <label>Website:</label>
    <span id="user_website"><%= user.url %></span>
  </p>
  <% end -%>
  <% if user.description.present? -%>
  <p>
    <label>Description:</label>
    <span><%= user.description %></span>
  </p>
  <% end -%>
</div>
<% end -%>
