<footer>
  <div class="wrapper">
    <div id="footer_links">
      <a href="/p/about">About H2O</a>
      <a target="_blank" href="http://h2o.law.harvard.edu/blog/files/2013/08/H2O-%E2%80%94%C2%A0User-Guide-v-1.2-2013.08.22.pdf">User Guide</a>
      <a href="/blog">Blog</a>
      <a href="/p/faq">FAQs</a>
      <a href="/p/terms">Terms of Service</a>
      <a href="/p/privacy">Privacy Policy</a>
      <a href="/p/team">H2O Team</a>
      <a class="last" href="/p/contact_us">Contact Us</a>
    </div>
    <% if params[:controller] == 'base' && params[:action] == 'index' -%>
    <div id="sponsors">
      <a id="berkman" target="_blank" href="http://cyber.law.harvard.edu/"><%= image_tag "berkman.png", :alt => "Berkman" %></a>
      <a id="hlsl" target="_blank" href="http://www.law.harvard.edu/library/"><%= image_tag "hlsl.png", :alt => "HLSL" %></a>
    </div>
    <div id="supporters">
      <h4>Supported by:</h4>
      <a id="liblab" target="_blank" href="http://osc.hul.harvard.edu/liblab">Harvard Library Lab</a>
      <a id="hilt" target="_blank" href="http://hilt.harvard.edu/"><%= image_tag "hilt.png", :alt => "Hilt" %></a>
      <a id="fastcase" target="_blank" href="http://www.fastcase.com/"><%= image_tag "fastcase.gif", :alt => "Fastcase" %></a>
    </div>
    <% end -%>
    <div class="clear"></div>
  </div>
</footer>
