<section id="results" class="multiitems">
	<aside class="sort">
		<%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[@model.to_s.tableize.to_sym] } %>
	</aside>
	<div class="search_details">
		<aside class="pagination standard_pagination">
			<% if @model == Media -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :media_type => params[:media_type] } %>
			<% else -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
			<% end -%>
		</aside>
		<h2>
		<% if params[:tag] -%>
		<%= @label %> tagged: <%= CGI.unescape(params[:tag]) %> (<%= pluralize @collection.results.total_entries, @label %> Total)
		<%= link_to "CLEAR TAG", self.send("#{@model == Media ? "medias" : @model.to_s.tableize}_path") %>
		<% elsif params[:keywords] -%>
		Search Results: <b><%= params[:keywords] %></b>
		<p>
		(<%= pluralize @collection.results.total_entries, @label %> Total)
		</p>
		<% else -%>
		<%= pluralize @collection.results.total_entries, @label %> Total
		<% end -%>
		</h2>
	</div>
	<ul id="results_set">
		<% @collection.each_hit_with_result do |hit, result| -%>
		<%= render :partial => "shared/objects/#{@partial}", :locals => { @model_sym => result, :hit => hit } %>
		<% end -%>
	</ul>
	<div class="search_details bottom">
		<aside class="pagination standard_pagination">
			<% if @model == Media -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next', :params => { :media_type => params[:media_type] } %>
			<% else -%>
			<%= will_paginate @collection.results, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
			<% end -%>
		</aside>
	</div>
</section>
