<div id="fixed_links">
<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Link Info">Collapse/Expand</a>
</div>

<aside id="singleitem_barcode_toolbar">
  <%= link_to raw('<span class="icon icon-remix-large"><span>Remix Link</span></span>'), copy_default_path(@default), :class => "tooltip link-remix remix-action requires_logged_in", :title => "Remix #{@default.name}", "data-type" => "default", "data-title" => @default.name %>
  <%= link_to raw('<span class="icon icon-add-large"><span>Add to Playlist</span></span>'), '#', "data-item_id" => @default.id, "data-type" => "case", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-favorite-large"><span>Bookmark Link</span></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@default.name}", "data-type" => "case", "data-itemid" => @default.id %>
</aside>

<div id="default" class="singleitem" data-itemid="<%= @default.id %>">
  <div id="main_details">
    <h1 class="scale1-5"><%= @default.name %></h1>
  </div>
  <% if current_user && (current_user.defaults.include?(@default)) %>
  <div id="description" class="scale1-1">
    <%= raw @default.description %>
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT LINK INFORMATION<span class="icon icon-arrow"></span>'), edit_default_path(@default), :class => "edit-external scale0-8" %>
    <%= link_to raw('<span class="icon icon-delete"></span>DELETE LINK<span class="icon icon-arrow"></span>'), @default, "data-type" => "text_block", "data-id" => @default.id, :class => "delete-action scale0-8" %>
  </div>
  <% end -%>
  <article>
    <a href="<%= @default.url %>" target="_blank"><%= @default.url %></a>
  </article>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close">Close</a>
  <h3 class="info">Link Information<span class="icon icon-panel"></span></h3>
  <div class="stats_panel">
  <%= render :partial => "meta" %>
  </div>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @default.user } %>
</div>

<div class="clear"></div>
