<div id="text_block" class="singleitem" data-itemid="<%= @journal_article.id %>">
	<hgroup class="description">
		<h2><%= @journal_article.display_name %></h2>
		<aside class="toolbar">
			<ul>
				<% if current_user -%>
				<li><%= link_to "Collage This", new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => @journal_article), :class => 'collage-this new-action' %></li>
				<li><%= link_to "Bookmark This Text", '#', :class => 'link-bookmark bookmark-action' %></li>
				<% end -%>
				<li id="print-container">
					<a href="<%= export_journal_article_path(@journal_article) %>" class="link-print" target="_blank">
					<span>Print</span>
					</a>
				</li>
			</ul>
		</aside>
		<div class="clear"></div>
	</hgroup>
	<div class="details">
		<% cache(["tags", @journal_article.id], :compress => H2O_CACHE_COMPRESSION) do -%>
		<div class="tags">
			<% @journal_article.tags.each do |tag| -%>
			<%= link_to tag.name, tag_path("text_blocks", CGI.escape(tag.name)) %>
			<% end -%>
		</div>
		<% end -%>
		<div class="clear"></div>
    <% @display_map.each do |f| %>
    <% if @journal_article.send(f[:key]).present? -%>
    <%= f[:display] %>: <%= @journal_article.send(f[:key]) %>
    <hr />
    <% end -%>
    <% end -%>
		<% if current_user && (current_user.has_role?(:superadmin) || @journal_article.owner?) %>
		<%= link_to "EDIT", edit_journal_article_path(@journal_article) %>
		<% end -%>
	</div>
	<article>
		<%= raw @journal_article.description %>
	</article>
</div>
