<% if collage.present? -%>
<div class="item_description scale0-9"><%= raw collage.description %></div>
<div class="collage-content" id="collage<%= collage.id %>" data-id="<%= collage.id %>">
<div class="article">
<% cache(["editable-content", collage.annotatable], :expires_in => 2.weeks, :compress => H2O_CACHE_COMPRESSION) do %>
<%= raw collage.editable_content_v2 %>
<% end -%>
</div>
</div>
<script type="text/javascript">
var collage_data_<%= collage.id %> = <%= raw(params[:state] || collage.readable_state || "{}") %>;
var annotations_<%= collage.id %> = <%= raw collage.annotations.inject({}) { |h, a| h["a#{a.id}"] =  a.to_json(:include => :layers); h }.to_json %>;
var layer_data_<%= collage.id %> = <%= raw collage.layer_data.to_json %>;
</script>
<% end -%>
