<li class="listitem listitem<%= content_error.id %>" data-itemid="<%= content_error.id %>">
	<div class="details">
    <h3>
      <% if content_error.reportable -%>
      <%= content_error.reportable_type.titleize %>: <%= link_to content_error.display_name, send("#{content_error.reportable_type.underscore}_path", content_error.reportable), :class => "title" %>
      <% else -%>
      <%= content_error.reportable_type.titleize %>: <%= content_error.display_name %>
      <% end -%>
      <%= link_to 'DELETE', content_error, :class => "icon icon-delete tooltip", "data-type" => "content_error", "data-id" => content_error.id %>
    </h3>
    <p>Reported by <%= link_to(content_error.user.display, user_path(content_error.user)) %></p>
    <p class="error"><b>Error:</b> <%= content_error.description %></p>
  </div>
	<div class="clear"></div>
</li>
