<li class="listitem listitem<%= default.id %>" id="listitem_default<%= default.id %>" data-itemid="<%= default.id %>" data-type="default">
  <a href="#" class="tooltip list-icon icon icon-default" title="Link"></a>
	<div class="details">
    <h3>
      <%= link_to default.name, default.url, :class => "title", :target => "_blank" %>
      <% if current_user && (@is_admin[:default] || @my_belongings[:defaults].include?(default)) %>
        <%= link_to 'EDIT', edit_default_path(default), :class => "icon edit-external icon-edit tooltip", :title => "Edit" %>
      <% end %>
    </h3>
    <p>
      <%= item_date_stamp default %>
      <% if default.user -%>
      added by
      <%= link_to(default.user.display, user_path(default.user)) %>
      <% end -%>
    </p>
    <% if default.description.present? -%>
    <a href="#" class="show_default_description">(more)</a>
    <p class="default_description">
    <%= default.description %>
    <a href="#" class="hide_default_description">(less)</a>
    </p>
    <% end -%>
	</div>
  <div class="right_details">
	<% if current_user -%>
	<div class="controls">
    <a data-item_id="<%= default.id %>" data-type="default" href="#" class="link-add"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-remix"></span>REMIX'), 
      copy_default_path(default), 
      :class => "link-remix remix-action", 
      "data-type" => "default", 
      "data-title" => default.name %>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => default.id,
      "data-type" => "default" %>
	</div>
	<% end -%>
  </div>
	<div class="clear"></div>
</li>
