<li class="listitem listitem<%= journal_article.id %>" data-itemid="<%= journal_article.id %>">
	<% if current_user -%>
	<div class="controls">
		<ul>
			<li class="link-collage"><%= link_to 'Collage This', new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => journal_article), :class => "new-action" %></li>
			<li class="link-add"><a data-item_id="<%= journal_article.id %>" data-type="journal_article" href="#">Add</a></li>
		</ul>
	</div>
	<% end -%>
	<div class="details">
    <% cache(["tags", journal_article.id], :compress => H2O_CACHE_COMPRESSION) do %>
      <div class="tags">
        <% if journal_article.tag_list.any? -%>
        | <%= raw journal_article.tag_list.collect { |tag| link_to(tag, tag_path("journal_articles", CGI.escape(tag))) }.join(', ') %>
        <% end -%>
      </div>
    <% end -%>
    <h3><%= link_to journal_article.display_name, journal_article_path(journal_article), :class => "title" %>
      <% if current_user && journal_article.deleteable? && (@is_admin[:textblock] || @my_belongings[:textblocks].include?(journal_article)) %>
        <%= link_to 'DELETE', journal_article, :class => "icon icon-delete tooltip", "data-type" => "journal_article", "data-id" => journal_article.id %>
      <% end %>
      <% if current_user && (@is_admin[:textblock] || @my_belongings[:textblocks].include?(journal_article)) %>
        <%= link_to 'EDIT', edit_journal_article_path(journal_article), :class => "icon icon-edit" %>
      <% end %>
    </h3>
    <p>
      <%= item_date_stamp journal_article %>
      by
      <%= link_to(journal_article.user.display, user_path(journal_article.user)) %>
    </p>
	</div>
	<div class="clear"></div>
</li>
