<% cache([media.user, "list-object", media], :compress => H2O_CACHE_COMPRESSION) do %>
<li class="listitem listitem<%= media.id %>" id="listitem_media<%= media.id %>" data-itemid="<%= media.id %>" data-type="media">
  <a href="#" class="tooltip list-icon icon icon-media-<%= media.media_type.slug %>" title="<%= media.media_type.label %>"></a>
	<div class="details">
    <div class="tags">
      <% media.tag_list.each do |tag| %>
      <%= link_to tag, tag_path("medias", CGI.escape(tag)) %>
      <% end -%>
    </div>
    <h3>
      <%= link_to media.name, media_path(media), :class => "title" %>
    </h3>
    <p>
      <%= item_date_stamp media %>
      <% if hit.stored(:user_id).present? -%>
      by
      <%= link_to hit.stored(:user_display), "/users/#{hit.stored(:user_id)}" %>
      <% end -%>
    </p>
	</div>
  <div class="right_details">
	<div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), media_path(media), :class => "action read-action" %>
    <a data-item_id="<%= media.id %>" data-type="media" href="#" class="link-add"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => media.id,
      "data-type" => "media" %>
	</div>
  </div>
	<div class="clear"></div>
</li>
<% end -%>
