<% cache([playlist.user, "list-object", playlist], :compress => H2O_CACHE_COMPRESSION) do %>
<li class="listitem listitem<%= hit.stored(:id) %>" id="listitem_playlist<%= hit.stored(:id) %>" data-itemid="<%= hit.stored(:id) %>" data-type="playlist">
  <a href="#" class="tooltip list-icon icon icon-playlist" title="Playlist">Playlist</a>
  <div class="details">
    <h3>
      <%= link_to raw(playlist.name), playlist, :class => "title" %>
    </h3>
    <p>
      <% if hit.stored(:user_id).present? -%>
      <% if hit.stored(:root_user_id).present? && hit.stored(:root_user_id) != hit.stored(:user_id) -%>
      Original Creator: <%= link_to hit.stored(:root_user_display), "/users/#{hit.stored(:root_user_id)}" %> |
      Current Version: <%= link_to hit.stored(:user_display), "/users/#{hit.stored(:user_id)}" %> |
      <% else -%>
      <%= link_to hit.stored(:user_display), "/users/#{hit.stored(:user_id)}" %> |
      <% end -%>
      <% end -%>
      <%= number_with_delimiter(playlist.collage_word_count[0], :delimiter => ',') %> Words |
      <%= playlist.updated_at.strftime("%B %d, %Y") %>
    </p>
  </div>

  <div class="right_details">
  <div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), playlist, :class => "action read-action" %>
    <%= link_to raw('<span class="icon icon-remix"></span>REMIX'), copy_playlist_path(playlist), :class => "link-remix remix-option-action", "data-type" => "playlist", "data-title" => playlist.name %>
    <%= link_to raw('<span class="icon icon-push"></span>PUSH'), push_playlist_path(playlist), :class => "push-action" %>
    <a data-item_id="<%= playlist.id %>" data-type="playlist" href="#" class="link-add"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => playlist.id,
      "data-type" => "playlist" %>
  </div>
  </div>

  <div class="clear"></div>
</li>
<% end -%>
