<li class="dd-item <%= actual_object.class.to_s.downcase %> listitem level<%= recursive_level %> listitem<%= item.id %> <%= 'last' if last %>" id="playlist_item_<%= item.id %>" data-itemid="<%= item.id %>" data-user_id="<%= actual_object.present? ? actual_object.user_id : 'n/a' %>" data-actual_object_id="<%= item.actual_object_id %>" data-nestable="false">
  <div class="wrapper <%= "missing_item" if actual_object.nil? %>">
  <div class="inner-wrapper dd-handle">
    <table><tr>
      <td class="width_<%= (recursive_level + 1)*11 %> number"><%= parent_index == '' ? "#{index}" : "#{parent_index}.#{index}" %></td>
      <td class="icon-cell">
        <% if item.actual_object_type == 'Media' && actual_object -%>
        <a href="#" class="tooltip icon icon-media-<%= actual_object.media_type.slug %>" title="<%= actual_object.media_type.label %>"></a>
        <% else -%>
        <a href="#" class="<%= "tooltip" if actual_object.present? %> icon icon-<%= item.clean_type %>" title="<%= actual_object.is_a?(Default) ? "Link" : actual_object.class %>"></a>
        <% end -%>
      </td>
      <td class="rr-cell">
        <% if item.render_dropdown -%>
        <%= link_to 'Show/Hide More', '#', :class => 'rr rr-closed', :id => "rr#{item.id}" %>
        <% end -%>
      </td>
      <td class="title-cell">
        <% if actual_object.present? && item.actual_object_type == 'Default' -%>
        <%= link_to item.name, actual_object.url, :target => '_blank', :class => "title #{"private" if !actual_object.public}" %>
        <% elsif actual_object.present? && item.actual_object_type == 'Media' -%>
        <%= link_to item.name, media_path(actual_object), :target => '_blank', :class => "title #{"private" if !actual_object.public}" %>
        <% elsif actual_object.present? -%>
        <%= link_to raw(item.name), actual_object, :target => '_blank', :class => "title #{"private" if !actual_object.public}" %>
        <% else -%>
        <%= item.name %> <span class="missing_item">[This resource no longer exists on H2O because its owner deleted it.]</span>
        <% end -%>
        <%= link_to raw('<span class="icon icon-delete"></span>'), url_for(:controller => 'playlist_items', :action => 'destroy', :id => item),
          :class => "action delete-playlist-item requires_remove" %>
        <%= link_to raw('<span class="icon icon-edit"></span>'), url_for(:controller => 'playlist_items', :action => 'edit', :id => item), 
          :class => "action edit-playlist-item requires_edit" %>
      </td>
    </tr></table>
    <% if item.render_dropdown -%>
    <div class="additional_details">
      <% if actual_object.present? && [Playlist, Collage].include?(actual_object.class) -%>
      <span class="creator_details">
        Original Creator: <%= link_to(actual_object.root.user.simple_display, user_path(actual_object.root.user), :class => "author_link") %>
      </span>
      <% if actual_object.root != actual_object -%>
      <span class="creator_details">
      Current Version: <%= link_to(actual_object.user.simple_display, user_path(actual_object.user), :class => "author_link") %>
      </span>
      <% end -%>
      <% end -%>

      <% if actual_object.respond_to?(:description) && actual_object.description != item.description -%>
      <div class="item_desc">
        <%= raw PlaylistItem.format_content(item.description) %>
      </div>
      <% end -%>
      <% if item.notes.to_s != '' && item.public_notes -%>
      <div class="notes">
        <b>Additional Notes:</b><br /><%= PlaylistItem.format_content(item.notes) %>
      </div>
      <% end -%>
      <% if actual_object.respond_to?(:description) && !actual_object.is_a?(TextBlock) && actual_object.description != '' -%>
      <div class="actual_obj_desc">
        <%= PlaylistItem.format_content(actual_object.description) %>
      </div>
      <% end -%>
    </div>
    <% end -%>
  </div>
  </div>
    <% if recursive_level < 4 && item.actual_object_type == 'Playlist' && @nested_playlists.has_key?("Playlist-#{item.actual_object_id}") %>
      <% nested_playlist = @nested_playlists["Playlist-#{item.actual_object_id}"] %> 
      <% if nested_playlist.playlist_items.any? -%>
      <div class="dd playlists">
        <ol class="dd-list">
        <% nested_playlist.playlist_items.each_with_index do |nested_item, nested_index| -%>
          <%= render :partial => 'shared/objects/playlist_item',
            :locals => { :item => nested_item,
            :actual_object => nested_item.actual_object,
            :parent_index => parent_index == '' ? index : "#{parent_index}.#{index}",
            :index => nested_index + 1,
            :recursive_level => recursive_level + 1,
            :last => (nested_item == nested_playlist.playlist_items.last) } %>
        <% end -%>
        </ol>
      </div>
      <% end -%>
    <% end -%>
 </li>
