<li class="playlist listitem level<%= recursive_level %> listitem<%= item.id %>" id="playlist_item_<%= item.id %>" data-itemid="<%= item.id %>">
  <h3 class="scale1-3">
  <span class="number"><%= parent_index == '' ? "#{index}" : "#{parent_index}.#{index}" %></span>
  <span class="icon icon-<%= item.actual_object_type == "Media" ? "media-#{item.actual_object.media_type.slug}" : item.clean_type %>"></span>
  <% if item.actual_object.present? -%>
    <% if item.actual_object_type == 'Media' -%>
    <%= link_to item.name, media_path(item.actual_object) %>
    <% elsif item.actual_object_type == 'Default' %>
    <%= link_to item.name, item.url, :target => 'blank' %>
    <% else -%>
    <%= link_to item.name, item.actual_object %>
    <% end -%>
  <% end -%>
  </h3>
  <div class="item_description scale0-8"><%= PlaylistItem.format_content(item.description) %></div>
  <% if item.notes.to_s != '' && item.public_notes -%>
  <div class="notes scale0-8">
    <b class="scale0-8">Additional Notes:</b>
    <%= PlaylistItem.format_content(item.notes) %>
  </div>
  <% end -%>
  <div class="clear"></div>
  <% if item.actual_object_type == 'TextBlock' -%>
    <%= render :partial => 'shared/objects/textblock_print', :locals => { :text_block => item.actual_object } %>
    <div class="page-break"></div>
  <% elsif item.actual_object_type == 'Collage' -%>
    <%= render :partial => 'shared/objects/collage_print', :locals => { :collage => @preloaded_collages["collage#{item.actual_object_id}"] } %>
    <div class="page-break"></div>
  <% elsif item.actual_object_type == 'Case' -%>
    <%= render :partial => 'shared/objects/case_obj_print', :locals => { :case_obj => @preloaded_cases["case#{item.actual_object_id}"] } %>
    <div class="page-break"></div>
  <% elsif item.actual_object_type == 'Playlist' && recursive_level < 4 && item.actual_object.present? -%>
    <div class="item_description"><%= PlaylistItem.format_content(item.actual_object.description) %></div>
    <section class="playlists">
      <ul>
        <% item.actual_object.playlist_items.each_with_index do |nested_item, nested_index| -%>
          <%= render :partial => 'shared/objects/playlist_item_print',
            :locals => { :item => nested_item,
            :parent_index => parent_index == '' ? index : "#{parent_index}.#{index}",
            :index => nested_index + 1,
            :recursive_level => recursive_level + 1 } %>
        <% end -%>
      </ul>
    </section>
  <% end -%>
</li>
