<% cache([textblock.user, "list-object", textblock], :compress => H2O_CACHE_COMPRESSION) do %>
<li class="listitem listitem<%= textblock.id %>" id="listitem_text_block<%= textblock.id %>" data-itemid="<%= textblock.id %>" data-type="text_block">
  <a href="#" class="tooltip list-icon icon icon-textblock" title="Text"></a>
	<div class="details">
    <h3>
      <%= link_to textblock.name, text_block_path(textblock), :class => "title" %>
    </h3>
    <p>
      <%= item_date_stamp textblock %>
      <% if hit.stored(:user_id).present? -%>
      by
      <%= link_to hit.stored(:user_display), "/users/#{hit.stored(:user_id)}" %>
      <% end -%>
      <% if textblock.tag_list.any? -%>
      | <%= raw textblock.tag_list.collect { |tag| link_to(tag, tag_path("text_blocks", CGI.escape(tag))) }.join(', ') %>
      <% end -%>
    </p>
	</div>
  <div class="right_details">
	<div class="controls">
    <%= link_to raw('<span class="icon icon-read"></span>READ'), textblock, :class => "action read-action" %>
    <%= link_to raw('<span class="icon icon-collage-this"></span>COLLAGE THIS'), new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => textblock), :class => "new-action link-collage" %>
    <a data-item_id="<%= textblock.id %>" data-type="text_block" href="#" class="link-add"><span class="icon icon-add"></span>ADD</a>
    <%= link_to raw('<span class="icon icon-favorite"></span>BOOKMARK'), '#',
      :class => "link-bookmark bookmark-action", 
      "data-itemid" => textblock.id,
      "data-type" => "text_block" %>
	</div>
  </div>
	<div class="clear"></div>
</li>
<% end -%>
