<div id="manage_collages">
  <div id="error_block" style="display:none;" class="error"></div>
  <%= semantic_form_for(@user_collection, :html => { :id => "manage-collages-collection" }) do |form| -%>
    <h4 id="generic_title">Collages Tied to This Collection</h4>
    <ul id="current_list">
      <input type="hidden" name="manage_collages" value="1" />
      <% @user_collection.collages.each do |collage| -%>
      <li class="item<%= collage.id %>" >
        <span><%= collage.name %></span>
        <input type="hidden" name="user_collection[collage_ids][]" value="<%= collage.id %>" />
        <a href="#" class="remove_item">REMOVE</a>
      </li>
      <% end -%>
    </ul>
    <h4>My collages</h4>
    <input type="hidden" id="lookup" />
    <ul id="lookup_results"></ul>
    <a href="<%= collage_lookup_collages_path %>" data-type="collage" id="lookup_submit">REFRESH LIST</a>
  <% end -%>
</div>
<div class="clear"></div>
