<div>
  <div id="error_block" style="display:none;" class="error"></div>
  <%= semantic_form_for(@user_collection, :url => update_permissions_user_collection_url(@user_collection), :html => { :id => "manage-users-collection" }) do |form| -%>
    <div id="generic_title">Permission Assignments for Collection <%= @user_collection.name %></div>
    <input type="hidden" name="manage_permissions" value="1" />
    <% [:playlist, :collage].each do |type| -%>
    <% if type == :collage -%>
    <br /><hr /><br />
    <% end -%>
    <h3><%= type.to_s.humanize %> Related Permissions:</h3>
    <table cellpadding="10" cellspacing="5">
      <tr>
        <th>User</th>
        <% @permissions[type].each do |p| -%>
        <th><%= p.label %></th> 
        <% end -%>
      </tr>
      <% @user_collection.users.each do |user| -%>
      <tr>
        <td><%= user.login %></td>
        <% @permissions[type].each do |p| -%>
        <td>
          <input type="checkbox" name="permission_assignments[<%= user.id %>][]" value="<%= p.id %>" <%= 'checked="checked"' if @user_permission_map.include?("#{user.id}_#{p.id}") %> />
        </td>
        <% end -%>
      </tr>
      <% end -%>
    </table>
    <% end -%>
  <% end -%>
</div>
<div class="clear"></div>
