<% @author_playlists.each do |v| -%>
<%= link_to v.name, playlist_url(v) %>
<% end -%>
<%= will_paginate @author_playlists,
    :class => "load_more_pagination", 
    :params => {
      :type => "author_playlists", 
      :controller => :base,
      :action => :partial_results
    }, 
    :next_label => 'Load More'
%>
