div.article {
  opacity: 1.0;
  color:#000;
  padding:13px 30px 0 45px;
  height:100%; 
  background: #FFF;
}
.singleitem div.article p,
.singleitem div.article h2,
.singleitem div.article h3,
.singleitem div.article h4 {
  margin-left: 15px;
}
div.article pre {
  white-space: pre-line;
}
div.article blockquote {
  padding-left: 15px;
  margin: 0px 0px 16px 60px;
}
div.article blockquote p {
  margin-left: 0px; 
}
div.article .annotation-content { 
  color: #6b933d; 
  display: none; 
  padding: 0px 0px 0px 3px; 
  font-style: italic;
}
div.article .annotation-content strong { 
  font-weight: bold;
}
div.article .annotation-content em { 
  text-decoration: underline;
}
div.article .annotation-ellipsis { 
  padding: 0px 5px; 
  display: none; 
  color: #336699;
}
div.article .ann-details { 
  display: none;
}
div.article .no_visible_children { 
  display: none;
}

#collage .bookmark-action {
  color: #5590CC;
  text-decoration:none;
}
#collage .bookmark-action.inactive {
  opacity: 0.3;
}
.highlight { 
  background: #E0F5BD;
}
#bcollages #tooltip { 
  display: none; 
  width: 200px; 
  opacity: 1.0;
}

/* Collage popup */
.singleitem .popup {
  position:absolute;
  left:0; 
  z-index:1;
  background: #333;
  padding: 0.5em 1.0em;
  display:none;
  top: 38px;
  left: 0px;
  width: 150px;
  color: #FFF;
}
.singleitem .popup ul {
  padding-top: 0px;
  line-height: 17px;
  font-size: 11px;
}
.singleitem .popup ul li {
  text-transform: uppercase;
}
.singleitem .text-layers-popup {
  width: 200px;
  padding-left: 12px;
  left: -124px;
}
.singleitem .text-layers-popup a {
  text-decoration: none; 
  font-weight: normal; 
  color: #FFF;
  display: inline-block;
  margin: 2px 0px;
  font-size: 11px;
}
.singleitem #main_details .text-layers-popup h5 {
  margin: 18px 0px 2px 0px;
  font-weight: bold;
  line-height: 1.0em;
}
.singleitem #main_details .text-layers-popup h5.first {
  margin-top: 0px;
}
.singleitem #main_details .text-layers-popup span.indicator {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.singleitem .popup ul li a.inactive {
  opacity: 0.5;
}
#print-container {
  display: inline-block;
}
#print-container form {
  display: inline-block;
}


/* Hover */
div.article .control-divider:hover,
div.article .layered-control:hover,
div.article .annotation-ellipsis:hover,
div.article .unlayered-control:hover,
div.article .unlayered-ellipsis:hover {
  cursor: pointer;
}

/* Edit Mode Toggles */
div.article.edit_mode tt:hover { background: #E0F58D; }
div.article tt.a { background: none;}
div.article.edit_mode tt.a { background:#eef9d9; }
div.article .control-divider { display: none; width: 4px; background-color: #6b933d; height: 16px; margin: 0px 3px 0px 0px; position: relative; top: 2px; }
div.article.edit_mode .control-divider { display: inline-block; }
div.article.edit_mode .edit_highlight { background: #EEF9D9; }
div.article.edit_mode .special_highlight { visibiility: hidden; }
div.article .layered-control,
div.article .unlayered-control { width: 9px; height: 16px; }
div.article.edit_mode .layered-control,
div.article.edit_mode .unlayered-control { width: 9px; height: 16px; }
div.article .default-hidden,
div.article.edit_mode .default-hidden,

div.article.hide_unlayered tt { display: none; }
div.article.hide_unlayered tt.a { display: inline; }
div.article.hide_unlayered .unlayered-control { display: none; }
div.article.hide_unlayered .unlayered-ellipsis { display: inline-block; }
div.article.show_unlayered tt { display: inline; }
div.article.show_unlayered .unlayered-control { display: inline-block; }
div.article.show_unlayered .unlayered-ellipsis { display: none; }
/* End Edit mode toggles */

.annotation-empty { background: #FFF; height: 13px; width: 0px; position: relative; left: -3px; }
.unlayered-ellipsis { display: none; font-weight: normal; color: #336699; font-style: normal; text-decoration: none; }
.unlayered-control-start,
.layered-control-start { display: none; background: url(<%= asset_path 'fcollapse.png' %>) no-repeat; height: 16px; width: 9px; margin: 0px 3px 0px 3px; position: relative; top: 2px; }
.unlayered-control-end,
.layered-control-end { display: none; background: url(<%= asset_path 'collapse.png' %>) no-repeat; height: 16px; width: 9px; margin: 0px 3px 0px 3px; position: relative; top: 2px; }
.paragraph-numbering { position: absolute; left: 30px; color: #369; text-decoration: none; font-weight: normal; font-size: 13px; }

div.article .layered-ellipsis { display: none; text-decoration: none; color: #336699; }
div.article .layered-empty { /* background-color: #FEFED9; */ }
div.article .paragraph-numbering .layered-empty { background-color: #FFF; }

/* Annotation Layers */
.new_layer {
  padding: 10px 0px;
  p, a {
    font-style: italic;
    color: #474747;
    text-decoration: none;
  }
  p.hex_input {
    margin-top: 3px;
  }
}

#collage_tag_list_input .inline-hints,
#collage_description_input .inline-hints {
  margin-left: 0px;
}
#collage_active_input label,
#collage_public_input label {
  padding-left: 0px; 
}
.collage_linked {
  color: blue;
}

div.article tt a.annotation_tip { 
  position: absolute; 
  left: 50%;
  top: 0px;
}

/* Buttons */
.singleitem #buttons {
  float: right;
  visibility: hidden;
  padding-top: 10px;
  position: relative;
}
.singleitem #buttons .btn-a { 
  float:left; 
  display:inline; 
  background: #747474;
  color: #c45027; 
  text-decoration:none; 
  padding: 5px 9px;
  position:relative; 
  color: #FFF;
  font-weight: bold;
}
.singleitem #buttons .btn-a-active {
  background: #333;
}
.singleitem #buttons #text-tools {
  margin-right: 10px;
}

#quickbar_tools {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 5px 9px;
  position: relative;
  top: -7px;
}
#quickbar_tools.active {
  background: #333333;
  color: #FFF;
}

/* Annotator Custom */
.annotator-widget {
  width: 300px;
}
.annotator-category span {
  margin-right: 5px;
  color: #000;
  padding: 2px;
}

#collages_show .annotator-editor {
  #add_new_layer {
    padding-left: 6px;
    margin: 5px;
  }
  #add_new_layer:after {
    background-image: none;
  }
  .annotator-h2o_layer {
    padding: 5px;
    div.hexes a:after {
      background-image: none;
    }
    div.hexes a {
      padding: 0px;
    }
    p {
      padding: 0px;
      margin: 0px;
    }
  }
  .annotator-error {
    padding: 5px;
    color: red;
    font-weight: bold;
  }
  a#remove_layer {
    margin: 5px 0px 0px 10px;
    padding-left: 5px;
  }
  #layer_error {
    padding-right: 0px;
  }
  #add_new_layer_error {
    margin: 5px 0px 0px 10px;
  }
  .hexes {
    padding-left: 8px;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 2px;
      border: 2px solid #FFF;
      padding: 0px;
      text-indent: -10000px;
    }
    a.active {
    border: 2px solid #000;
    }
    a.inactive {
      opacity: 0.3;
    }
  }
  #existing_collage_link,
  #link_to_collage {
    padding-left: 5px;
  }
  #existing_collage_link a {
    margin: 5px 0px 5px 10px;
  }
  #existing_collage_link span {
    color: #000;
  }
  #link_to_collage:after,
  #remove_layer:after,
  .hexes a:after,
  #collage_search a:after {
    background: none;
  }
  #link_to_collage {
    margin: 5px;
  }
  #collage_search_buttons {
    padding: 10px;
    background: #C2C2C2;
    a#cancel_link_to_collage {
    }
  }
  #collage_search {
    background: #D5D5D5;
    padding: 10px;
    .pagination {
      padding: 5px 10px;
      text-align: center;
    }
    a {
      background: none;
      box-shadow: none;
      text-shadow: none;
      padding: 0px;
      border: 0px;
    }
  }
  .annotator-item #collage_search_input {
    min-width: 0px;
    display: inline-block;
    width: 198px;
    background: #F3F3F3;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 10px;
  }
}


#collages_show {
  .annotator-viewer {
    .annotator-collage span {
      color: #000;
      margin-right: 5px;
      padding: 2px;
    }
    .annotator-collage h3 {
      margin-left: 0px;
    }
    div#viewer_linked_collage {
      padding-left: 0px;
    }
    .annotator-controls .annotator-delete {
      background: url(<%= asset_path "icons.png" %>) no-repeat -31px -137px;
      height: 15px;
      width: 12px;
    }
  }
}

.annotator-wrapper .annotation-indicator {
  position: absolute;
  width: 1px;
  display: block;
  background-color: #676767;
  left: 15px;
}
.annotator-wrapper > .unlayered-ellipsis {
  padding: 0px 0px 10px 343px;
}
