/* Icons */
.icon {
  display: inline-block;
  width:18px;
  height:18px; 
  background-image: url(<%= asset_path 'icons.png' %>); 
  text-indent: -4000px;
}
.icon span {
  display: none;
}
.icon-default,
.icon-itemdefault {
  background-position: -578px -154px;
}
.icon-default.hover {
  background-position: -545px -154px;
}
.icon-collage,
.icon-user_text_block_collaged,
.icon-user_case_collaged,
.icon-collage_created { 
  background-position: -130px -15px;
  width: 16px;
  height: 16px;
}
.icon-collage.hover { 
  background-position: -11px -46px;
}
.icon-question { 
  background-position: -36px -92px;
}
.icon-playlist,
.icon-playlist_created { 
  background-position: -82px -78px;
  width: 16px;
  height: 14px;
}
.icon-playlist.hover { 
  background-position: -106px -78px;
}
.icon-case,
.icon-case_created { 
  background-position: -86px -16px;
  height: 14px;
  width: 14px;
}
.icon-case.hover {
  background-position: -108px -16px;
}
.icon-annotation {
  background-position: -72px -92px; 

}
.icon-textblock,
.icon-text_block_created { 
  background-position: -108px -107px;
  height: 17px;
  width: 17px;
}
.icon-textblock.hover { 
  background-position: -133px -107px;
}
.icon-media-video {
  background-position: -51px -136px;
  height: 17px;
  width: 18px;
}
.icon-media-video.hover {
  background-position: -77px -136px;
}
.icon-media-audio {
  background-position: -36px -16px;
  height: 15px;
  width: 17px;
}
.icon-media-audio.hover {
  background-position: -61px -16px;
}
.icon-media-pdf {
  background-position: -35px -46px;
  width: 13px;
  height: 16px;
}
.icon-media-pdf.hover {
  background-position: -56px -46px;
}
.icon-media-image,
.icon-media_created {
  background-position: -11px -77px;
  width: 18px;
  height: 16px;
}
.icon-media-image.hover {
  background-position: -37px -77px;
}

/* Actions */
.icon-delete {
  background-position: -31px -386px;
  width: 12px;
  height: 15px;
}
.icon-edit {
  background-position: -96px -48px;
  width: 11px;
  height: 13px;
}
.icon-setup {
  background-position: -58px -107px;
  width: 19px;
  height: 17px;
}
.icon-remix,
.icon-user_collage_remix,
.icon-user_playlist_remix {
  background-position: -33px -106px;
  width: 18px;
  height: 18px;
}
.icon-push {
  background-position: -134px -135px;
  width: 17px;
  height: 18px;
}
.icon-remix-large {
  background-position: -690px -155px;
  width: 24px;
  height: 25px;
}
.icon-read {
  background-position: -704px -120px;
  width: 23px;
  height: 13px;
}
.icon-add,
.icon-user_playlist_added,
.icon-user_media_added,
.icon-user_collage_added,
.icon-user_case_added,
.icon-user_default_added {
  background-position: -9px -13px;
  width: 19px;
  height: 19px;
}
.icon-add-large {
  background-position: -612px -155px;
  width: 25px;
  height: 26px;
}
.icon-delete-bookmark {
  background-position: -138px -45px;
  width: 20px;
  height: 20px;
}
.icon-delete-bookmark-large {
  background-position: -499px -113px;
  width: 26px;
  height: 26px;
}
.icon-favorite,
.icon-bookmark,
.icon-user_playlist_bookmarked,
.icon-user_collage_bookmarked,
.icon-user_media_bookmarked,
.icon-user_case_bookmarked,
.icon-user_text_block_bookmarked {
  background-position: -114px -45px;
  width: 18px;
  height: 20px;
}
.icon-favorite-large {
  background-position: -651px -155px;
  width: 26px;
  height: 26px;
}
.icon-collage-this {
  background-position: -109px -136px;
  width: 16px;
  height: 16px;
}

.icon-bookshelf {
  width: 29px;
  height: 33px;
  background-position: -454px -105px;
}
.icon-profile {
  width: 23px;
  height: 28px;
  background-position: -269px -150px;
}
.icon-settings {
  width: 30px;
  height: 33px;
  background-position: -387px -151px;
}
.icon-arrow {
  background-position: -227px -6px;
}
.icon-tocollage-large {
  background-position: -705px -70px;
  width: 23px;
  height: 26px;
}
.icon-panel {
  background-position: -336px -21px;
  width: 19px;
  height: 15px;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.icon-edit-large {
  background-position: -387px -112px;
  height: 19px;
  width: 17px;
}
.icon-approve {
  background-position: -58px -107px;
}
.icon-black-print {
  background-position: -235px -152px;
  width: 19px;
  height: 21px;
}
.icon-black-remix {
  background-position: -351px -155px;
  width: 21px;
  height: 21px;
}
.icon-black-font {
  background-position: -200px -150px;
  width: 25px;
  height: 23px;
}
.icon-black-favorite {
  background-position: -200px -114px;
  width: 26px;
  height: 26px;
}
.icon-tocollage-black {
  background-position: -669px -70px;
  width: 23px;
  height: 25px;
}

.light_hover .icon-playlist:hover {
  background-position: -6px -220px;
}
.light_hover .icon-collage:hover {
  background-position: -27px -219px;
}
.light_hover .icon-case:hover {
  background-position: -50px -220px;
}
.light_hover .icon-textblock:hover {
  background-position: -71px -219px;
}
.light_hover .icon-media-image:hover {
  background-position: -94px -218px;
}
.light_hover .icon-media-audio:hover {
  background-position: -121px -219px;
}
.light_hover .icon-media-pdf:hover {
  background-position: -173px -218px;
}
.light_hover .icon-media-video:hover {
  background-position: -146px -217px;
}
.light_hover .icon-default:hover {
  background-position: -193px -218px;
}

.icon-user {
  background-position: -365px -197px;
}
.light_hover .icon-user:hover {
  background-position: -391px -197px;
}
