#playlist #description_less, #playlist #description_more{
  color: #000;
}
#playlist > .playlists { 
  padding-top:1px; display:block; 
  background: #fff;
  padding: 4px;
}
#playlist .playlists ul,
.dd-dragel ul {
  background: #fff;
}
#playlist #main_details {
  padding-right: 30px; /* making some room for the wedge */
}
.playlists .listitem {
  position:relative;
  width:100%;
}
.playlists-edit-mode .listitem {
  padding:2px 0px;
}
.playlists .expanded {
  background: #f0f0f0;
  border-bottom: 1px solid #999999;
}
.playlists .expanded.last {
  border-bottom: none;
}
.playlists-edit-mode .expanded {
  background: #fff;
  border-bottom: none;
}
.playlists .playlists,
.dd-dragel .playlists {
  display: none;
  margin-left: 63px;
}
.playlists .playlists .playlists,
.dd-dragel .playlists .playlists {
  margin-left: 74px;
}
.playlists .playlists .playlists .playlists,
.dd-dragel .playlists .playlists .playlists {
  margin-left: 85px;
}
.playlists li.listing {
  height: 15px;
  border: 1px dashed #036290;
  min-height: 15px;
  margin: 5px 0;
}
.playlists li.listing-with-form {
  padding-top: 3px;
  background:-moz-linear-gradient(top, #eeeeee, #cdcdcd);
  background:-webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cdcdcd));
  background: -o-linear-gradient(#eeeeee,#cdcdcd);
  moz-border-radius: 5px; 
  border-bottom-radius: 5px;
  -webkit-border-radius: 5px; 
  border-radius: 5px;
  border: 1px solid #cacaca;
}
.playlists li.listing-with-form .listing_barcode,
.playlists li.listing-with-form .icon {
  display: none;
}
.playlists li.listing-with-form h4 {
  display: inline-block;
  margin-bottom: 10px;
}
.playlists li.listing-with-form .dd-handle {
  padding-left: 35px;
}
.playlists li.listing-with-form #playlist_item_form,
.playlists li.listing-with-edit-form #playlist_item_form,
.playlists li.listing-with-delete-form #playlist_item_form {
  padding: 0px 0px 10px 67px;
}
#playlist_item_form #playlist_item_submit, 
#playlist_item_form #playlist_item_cancel,
#playlist_item_form #playlist_item_delete {
  background: #036290;
  color: #FFF;
  display: inline-block;
  line-height: 28px;
  padding: 0px 12px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.playlists li.listing .dd-handle {
  display: none; 
}
.playlists .listitem .wrapper {
  border-bottom: 1px solid #999999;
}
.playlists .listitem .wrapper .inner-wrapper {
  padding: 11px 3px;
}
.playlists .listitem .wrapper .inner-wrapper table {
  margin-right: 25px;
}
.playlists .listitem .wrapper .inner-wrapper td.icon-cell {
  text-align: center;
  padding: 0px 7px;
}
.playlists .listitem .wrapper .inner-wrapper td.icon-cell .icon {
  display: block;
}
.playlists .listitem .wrapper .inner-wrapper td.title-cell {
  vertical-align: top;
}
.playlists .last > .wrapper {
  border-bottom: none;
}
.playlists .listitem .wrapper .delete-playlist-item,
.playlists .listitem .wrapper .edit-playlist-item {
  visibility: hidden;
}
.playlists-edit-mode .listitem .wrapper {
  background:-moz-linear-gradient(top, #eeeeee, #cdcdcd);
  background:-webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cdcdcd));
  background: -o-linear-gradient(#eeeeee,#cdcdcd);
  moz-border-radius: 5px; 
  border-bottom-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cacaca;
}
.playlists-edit-mode .listitem .wrapper .delete-playlist-item,
.playlists-edit-mode .listitem .wrapper .edit-playlist-item {
  visibility: visible;
}

.listitem .rr-cell {
  width: 22px;
  vertical-align: middle;
}
.listitem .rr {
  top:15px;
  right: 12px;
  width:12px; 
  height:12px; 
  background:url(<%= asset_path 'icons.png' %>) -158px -37px no-repeat; 
  text-indent: -4000px;
  display: block;
  padding: 5px;
}
.listitem .wrapper .rr-closed {
  background-position: -159px -62px;
}
.listitem .wrapper .rr.hover_link {
  background-position: -159px -83px;
}
.listitem .wrapper .rr-closed.hover_link {
  background-position: -160px -108px;
}

#playlist .buttons ul .btn-a-active { 
  background:#fff; 
  color:#333; 
  border-bottom:0; 
  padding-bottom:1px;
}
#playlist .buttons ul .btn-a-active { 
  -moz-border-radius-bottomleft: 0px; 
  border-bottom-left-radius: 0px; 
  -webkit-border-bottom-left-radius: 0px;
}
#playlist .buttons ul .btn-a-active { 
  -moz-border-radius-bottomright: 0px; 
  border-bottom-right-radius: 0px; 
  -webkit-border-bottom-right-radius: 0px;
}
.playlists .additional_details {
  padding: 5px 0px 0px 63px;
  display: none;
}
.playlists .playlists .additional_details {
  padding-left: 74px;
}
.playlists .playlists .playlists .additional_details {
  padding-left: 85px;
}
.playlists .playlists .playlists .playlists .additional_details {
  padding-left: 96px;
}
.listitem div.additional_details p {
  margin-bottom: 10px;
}

/* Right Panels */
#find_items {
  background: #d5d5d5;
}
#edit_item #search_wrapper_outer {
  padding: 0px 10px 10px 10px;
  height: 28px;
}
#edit_item #search_wrapper {
  background: #FFF;
  padding-right: 180px;
}
#edit_item #add_item_term {
  width: 100%;
  border: none;
  padding: 6px;
  height: 18px;
}
#edit_item #add_item_search {
  color: #FFF;
  float: right;
  display: block;
  background: #036290;
  line-height: 30px;
  padding: 0px 12px;
  font-weight: bold;
  text-decoration: none;
}
#edit_item #select_wrapper {
  float: right;
  display: block;
}
#edit_item #add_item_results {
  clear: both;
  background: #FFF;
}
#edit_item #add_item_results h3 {
  color: #FFF;
  background: #333;
  padding: 10px;
}
#edit_item #add_item_results h3 span.dr {
  font-style: italic;
  font-weight: normal;
  padding-left: 10px;
}
#edit_item #add_item_results .sort {
  float: right;
  position: relative;
  top: -2px;
}
#edit_item #add_item_results .sort .jsb {
  width: 150px !important;
}
#edit_item #add_item_results .sort .jsb .jsb-list {
  width: 150px !important;
}
#edit_item #add_item_results .sort .jsb .jsb-moreButton {
  width: 150px;
}
#edit_item #add_item_results li.listing {
  border-top:1px solid #e0e1e1; 
  padding:3px;
  margin: 5px 5px 0px 5px;
  background:-moz-linear-gradient(top, #eeeeee, #cdcdcd);
  background:-webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cdcdcd));
  background: -o-linear-gradient(#eeeeee,#cdcdcd);
  margin-bottom: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#edit_item #add_item_results li.listing .dd-handle {
  margin-right: 0px;
}
#edit_item #add_item_results li.listing .icon {
  float: left;
  display: block;
}
#edit_item #add_item_results li.listing h4,
.dd-dragel h4 {
  padding-left: 24px;
  color: #323232;
  font-weight: normal;
}
#edit_item #add_item_results .listing_barcode {
  padding: 5px 0px 5px 24px;
}

#edit_item #nestable2 {
  clear: both;
}

#author_playlists a {
  display: block;
  text-decoration: none;
  padding-bottom: 5px;
}
#author_playlists .load_more_pagination a,
#author_playlists .load_more_pagination em.current {
  display: none;
}
#author_playlists .load_more_pagination {
  text-align: center;
}
#author_playlists .load_more_pagination a.next_page {
  font-weight: bold;
  display: block;
}

/* Nestable styling */
.dd { 
  position: relative; 
  display: block; 
  margin: 0; 
  padding: 0;
}
.dd-list { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-item { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0; 
  min-height: 20px; 
  line-height: 20px;
}
.dd-empty,
.dd-placeholder { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0; 
  height: 1px;
  min-height: 1px; 
  margin: 5px 0; 
  padding: 0;
  height: 15px !important;
  border: 1px dashed #036290;
  min-height: 1px;
}
#nestable2 .dd-placeholder {
 margin: 0px 4px;
}

.dd-handle {
  margin-right: 20px;
  /* border: 1px solid red; */
}


.dd-item > button[data-action="collapse"] {
  display: none; 
}
/*
.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }
*/

.dd-empty { border: 1px dashed #bbb; min-height: 15px; }

.dd-dragel {
  box-shadow: 10px 10px 5px #888888;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  background:-moz-linear-gradient(top, #c6c6c6, #989898);
  background:-webkit-gradient(linear, left top, left bottom, from(#c6c6c6), to(#989898));
  background: -o-linear-gradient(#c6c6c6,#989898);
  border: 1px solid #000000;
  padding: 3px;
}
.dd-dragel .icon {
  float: left;
  display: block;
}

/* Barcode */
#playlist_barcode {
  display: block;
  opacity: 1.0;
  background: none;
  padding: 20px 0px;
}

/* Hiding while page is loading */
button.inactive { opacity: 0.5; }

.singleitem .toolbar #deep-copy-playlist { background: yellow; }
#print-container {
  display: inline-block;
}
#print-container a {
  background:url(<%= asset_path 'icons.png' %>) -270px -70px;
  width: 15px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}

/** ADDED FROM ui.css **/
/* Playlist list items -- needed here because used on users page */
.listitem .number,
.dd-dragel .number {
  color:#9c9c9c;
  font-weight:bold;
  text-align:center;
}
.listitem .width_11 {
  width: 11px;
}
.listitem .width_22 {
  width: 22px;
}
.listitem .width_33 {
  width: 33px;
}
.listitem .width_44 {
  width: 44px;
}
.expanded .number {
  color:#373737;
}
.playlists-edit-mode .number {
  color: #373737;
}

.listitem .wrapper a.title,
.dd-dragel .wrapper a.title {
  font-weight: bold;
  display:inline;
  text-decoration: none;
  font-family: 'futura-pt', Verdana, Arial, Helvetica, Sans-Serif;
}
.listitem .wrapper a.title.private,
.dd-dragel .wrapper a.title.private {
  font-weight: normal;
}
.listitem .wrapper a.hover_link {
color: #036290;
}
.listitem .wrapper span.creator_details {
  display: block;
}
.listitem .wrapper a.author_link,
.dd-dragel .wrapper a.author_link {
  text-decoration: none;
}
.listitem .wrapper a.action {
  padding-left: 5px;
  text-decoration: none;
}

.playlists .listitem .icon {
  opacity: 0.8;
  display: inline-block;
}
.playlists .expanded .icon,
.playlists-edit-mode .listitem .icon {
  opacity: 1.0;
}
.playlists-edit-mode .listitem .number {
  opacity: 1.0;
}
#description a#public-notes,
#description a#private-notes {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
#description a#public-notes span,
#description a#private-notes span {
 padding-right: 3px;
 position: relative;
 top: 4px;
}
#description #public_private_instruction {
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
#description a#public-notes span.count,
#description a#private-notes span.count {
  padding-left: 5px;
}
#description a#public-notes span.count,
#description a#private-notes span.count,
#description a#public-notes span.count span,
#description a#private-notes span.count span {
  top: 0px;
}
#description a#public-notes {
  padding-right: 10px;
}
span.missing_item,
span.private_item {
  opacity: 0.6; 
}
.singleitem #description p#private_detail {
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
#main-wedge {
  background: url(<%= asset_path 'icons.png' %>);
  background-position: -162px -66px;
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  color: transparent;
  position: absolute;
  right: 12px;
  top: 20px;
}

#main-wedge.opened {
  background-position: -162px -43px;
  top: 22px;
}
