<div id="quickbar">
  <div class="wrapper">
    <div id="quickbar_left">
      <a href="/" id="quickbar_logo"><%= image_tag 'h20-logo.png' %></a>
      <span id="quickbar_title">
        <%= @playlist.name %>
      </span>
      <span id="quickbar_author">
      <span>| </span><%= link_to(@playlist.user.display, user_path(@playlist.user)) %>
      </span>
      <span class="quickbar_extra">
      | <%= @playlist.created_at.strftime("%B %d, %Y") %>
      </span>
    </div>
    <div id="quickbar_right">
      <a href="#" id="quickbar_edit_toggle"><span>EDIT TOGGLE</span></a>
      <a href="<%= export_playlist_path(@playlist) %>" class="icon icon-black-print" id="quickbar_print" title="Print <%= @playlist.name %>"><span>Print</span></a>
      <%= link_to raw('<span class="icon icon-black-favorite"><span>Bookmark Playlist</span></span>'), '#', :class => "bookmark-action requires_logged_in", :title => "Bookmark #{@playlist.name}", "data-type" => "playlist", "data-itemid" => @playlist.id %>
      <a href="#" class="icon icon-black-font" id="quickbar_font" title="Change the size of the text"><span>Font Settings</span></a>
      <a href="<%= copy_playlist_path(@playlist) %>" class="remix-option-action requires_logged_in icon icon-black-remix" id="quickbar_copy-playlist" title="Remix <%= @playlist.name %>" data-type="playlist" data-title="<%= @playlist.name %>"><span>Remix</span></a>
    </div>
    <div class="clear"></div>
  </div>
</div>
