<div class="standard-form">
  <h1>Log In</h1>
  <%= form_for @user_session, :url => user_sessions_path, :html => { :class => "formtastic" } do |f| %>
    <% if @user_session.errors.any? -%>
    <%= @user_session.errors.full_messages.join(', ') %>
    <% end -%>
    <%= f.label :login %>
    <%= f.text_field :login, :class => 'text' %>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'text' %>
	  <div class="remember">
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
	  </div>
    <%= f.submit "Login", :class => 'button' %><br />
    <%= link_to "Forgot your password?", new_password_reset_path %>
    <br /><br />
    <%= link_to "If you don't have a login, please register by clicking here.", new_user_path %>
  <% end %>
</div>
