<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="must-revalidate" />
    <title><%= raw @page_title ? "Printed #{raw @page_title}" : "H2O Classroom Tools" %></title>

    <%= stylesheet_link_tag "application-print", media: "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <script type="text/javascript" src="/modernizr.custom.77714.js"></script>
    <script type="text/javascript" src="//use.typekit.net/yxz4hqb.js"></script>
    <style type="text/css" id="additional_styles"></style>
    <style type="text/css" id="highlight_styles"></style>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body data-controller="<%= params[:controller] %>" id="<%= "#{params[:controller].gsub(/\//, '_')}_#{params[:action]}" %>">
    <div class="wrapper">
  	<section id="shell">
      <div id="print-options">
        <strong>PRINT TITLE(S)</strong>
        <select id="printtitle">
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
        </select>
        <strong id="create_date">PRINT CREATE AND DATE DETAILS</strong>
        <select id="printdetails">
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
        </select>
        <% if ["collages", "playlists"].include?(params[:controller]) -%>
        <strong>PRINT PARAGRAPH NUMBERS</strong>
        <select id="printparagraphnumbers">
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
        </select>
        <div id="annotation_options">
          <strong>PRINT ANNOTATIONS</strong>
          <select id="printannotations">
            <option value="yes">Yes</option>
            <option value="no" selected="selected">No</option>
          </select>
        </div>
        <div id="highlight_options">
          <strong>PRINT HIGHLIGHTS</strong>
          <select id="printhighlights">
            <option value="original" selected="selected">Original</option>
            <option value="all">All</option>
            <option value="none">None</option>
          </select>
        </div>
        <% end %>
        <% if ["collages", "playlists", "cases", "text_blocks"].include?(params[:controller]) -%>
        <span id="fontface_span">
        <strong>FONT FACE</strong>
        <select id="fontface">
          <option value="leitura">Leitura</option>
          <option value="garamond">Garamond</option>
          <option value="futura">Futura</option>
          <option value="verdana">Verdana</option>
          <option value="proxima">Proxima Nova</option>
          <option value="dagny" selected="selected">Dagny Web</option>
        </select>
        </span>
        <% if ["cases", "text_blocks"].include?(params[:controller]) %> <br /> <% end %>
        <strong>FONT SIZE</strong>
        <select id="fontsize">
          <option value="small" selected="selected">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="xlarge">X-Large</option>
        </select>
      <% end %>
      </div>
      <%= yield %>
    </section>
    </div>

    <%= javascript_include_tag "application-print" %>
    <%= render "shared/google_analytics" %>
  </body>
</html>
